


.menuAuth{
  margin-right:10px;
}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.main{

  display:flex;
  justify-content: center;
  height:90vh;
}

.signIn{
  display:flex;
  background-color: white;
  height:90vh;
  width: 45vw;

}

.mainMenu{
  margin-left:1vw;
  border:solid;
  border-color: #8672FF;
  border-width:7px;
  border-radius:15px;
  height:87.5vh;
  width: 43vw;
  display:Flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

form{
display:flex;
flex-direction: column;
align-items: center;

}



.bumbum{
  display:flex;
  flex-direction:row;
  margin-bottom:12px;
  align-items: center;
  justify-content: start;

}

.labels{
  background-color: #8672FF;
  border-radius: 5px 0px 0px 5px;
}

input{
  height:100%;
  padding-left:7px;
  width:16vw;
  border:solid;
  border-width:0.001rem;
  border-radius: 0px 5px 5px 0px;
  background-color: #F3F0FF;
  border-color:#F3F0FF;
}



form  label{
  fill:white;
  border-left:none;
}

.submitG{
  align-self:center;
  text-align: center;
  width:4.5vw;
  margin-bottom:14px;
  padding-left:0px;

}

#first{
  margin-top:4vh;
}

input:hover{

 border-color:#8672FF;

 }

 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --accent-color: #8672FF;
  --base-color: white;
  --text-color: #2E2B41;
  --input-color: #F3F0FF;
}
*{
  margin: 0;
  padding: 0;
}
html{
  font-family: Poppins, Segoe UI, sans-serif;
  font-size: 12pt;
  color: var(--text-color);
  text-align: center;
}
h1{
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}
form{
  width: min(400px, 100%);
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
form > div{
  width: 100%;
  display: flex;
  justify-content: center;
}
form label{
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: var(--accent-color);
  fill: var(--base-color);
  color: var(--base-color);
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}
form input{
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;
  height: 50px;
  padding: 1em;
  font: inherit;
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--input-color);
  border-left: none;
  background-color: var(--input-color);
  transition: 150ms ease;
}
form input:hover{
  border-color: var(--accent-color);
}
form input:focus{
  outline: none;
  border-color: var(--text-color);
}
div:has(input:focus) > label{
  background-color: var(--text-color);
}
form input::placeholder{
  color: var(--text-color);
}
form button{
  margin-top: 10px;
  border: none;
  border-radius: 1000px;
  padding: .85em 4em;
  background-color: var(--accent-color);
  color: var(--base-color);
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 150ms ease;
}
form button:hover{
  background-color: var(--text-color);
}
form button:focus{
  outline: none;
  background-color: var(--text-color);
}
a{
  text-decoration: none;
  color: var(--accent-color);
}
a:hover{
  text-decoration: underline;
}
@media(max-width: 1100px){
  .wrapper{
    width: min(600px, 100%);
    border-radius: 0;
  }
}
form div.incorrect label{
  background-color: #f06272;
}
form div.incorrect input{
  border-color: #f06272;
}
#error-message{
  color:#f06272;
}

.header_auth{
  display:flex;
  justify-content: center;
   font-size: 2.5rem;
  font-family:Nevis-Bond,Arial, Helvetica, sans-serif;
   margin-top:2vh;
   font-weight: 1000;
   margin-bottom:3vh;

}

#first{
  margin-bottom:4vh;
}

p{
  display:flex;
  align-items: center;
width:30vw;
height:6vh;
justify-content: center;
}

a{
  padding-left:0.5vw;
  cursor:pointer;
}

.first_div_input{
  margin-bottom:1vh;
}

@media screen and ( max-width:1112px){
  form{
    width:30vw;
  }
}

@media screen and ( max-width:890px){
  .main{
    flex-direction: column;
    width:100vw;
  }

  .signIn{
    width:100vw;
    margin-bottom: 30px;

  }
  .mainMenu{
    width:100vw;
    margin-right:10px
  }

  form{
    width:65vw;
  }

  .whole_menu_visible{
    background-image: url("universe_menu.jpg");

  }

}


.front_menu_bar > .whole_menu_visible{
   /* background-image:url('universe_menu.jpg') ; */
  background-color: #F5AD68;
}
