*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}

/* .navbar_wrapper_dash {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  flex-direction: column;
  background-color: white;
  border:0;
  margin:0;
  padding:0;
} */
 .navbar_wrapper_dash{
  background: linear-gradient(rgb(10, 10, 10),rgb(190, 178, 178));
  margin:20px;
  padding:20px;
  display:flex;
  /* border-radius:100px; */
  height: calc(100vh - 40px);
 }
.left_tab_dash {
  width:430px;
  background-color: rgb(211, 200, 200);
  margin: 0px;
  margin-right: 8px;
  border: solid linear-gradient(black,rgb(143, 132, 132));
  border-radius: 10px;
  border-width: 16px;
}

.AI_HUB_heading{
  margin-bottom:20px;
}
/* .dashboard_wrapper {
  border-radius: 10px;
  margin-top: 40px;
  height:90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  background-color: skyblue;
  align-items: flex-start;
} */
.dashboard_wrapper{
display: flex;
height:90%;
flex-direction: column;
/* padding:10x; */
background-color: rgb(120, 122, 122);
align-items: center;
justify-content: space-between;
}

#dashboard_heading {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  /* margin-bottom:50px; */
  /* align-self: flex-start; */
  color:white;
  font-size:35px;
  height:50px;
}

.dashboard_container {
  /* height: 80%; */
  display: flex;
  /* margin-left: 20px; */
  margin-top: 20px;
  width:90%;
  flex-direction: column;
  background-color: red;
  align-items: center;
  justify-content: center;
}

.dashboard_container > div {
  color: white;
  width:100%;

}

.dashboard_container > div > button {
  width:100%;
  height: 6.5vh;
  /* border-radius: 10px; */
  font-size: 2vh;
  margin-bottom:3vh;
  cursor: pointer;
}

.contact_dashboard {
  margin-bottom:30px;
}

.right_tab_dash {
  display: grid;
  width:100%;
  height:100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1.9fr 6fr;
  background-color: magenta;
  /* margin: 16px; */
  margin-left: 8px;
  border: solid magenta;
  border-width: 16px;
  border-radius: 10px;
}



/* .bottom_right_dash{

} */

/* TOP RIGHT DASHBOARD */
.dash_comp {
  display: flex;
  /* justify-content: space-evenly; */
  background-color: green;
  height: 100%;
  width:100%;
}

.dash_comp_left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: brown;
  width: 100%;
}

.dash_comp_left > div {
  padding-left: 50px;
}

.dash_comp_right {
  display: flex;
  background-color: pink;
  width: 100%;
}

.dash_comp_right > button {
  border: 5px;
  padding: 0px 10px;
  margin: 10px;
  height: 40px;
}

.avatar_placeholder{
  width:75px;
  height: 75px;
  border-radius:75px;
  background-color: grey;
}

.comp_left_top{
  display:flex;
  align-items: center;
}
.comp_left_bottom{
  display: flex;
  align-items: baseline;
}
.comp_left_bottom >*{
  margin-right: 5px;
}

.comp_left_top >*{
  margin-right: 50px;
}

.credits_wrapper{
  background-color: green;
  display: flex;
  width: 100%;
}
.credits_left_div{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-start;
  background-color: yellow;
  width:40%;
  padding-left:8%;
}
.credits_right_div{
  background-color:yellow;
  width:60%;
}

.subscription_name_credits{
  justify-self:flex-start;
}
.valid_date_credits{
  justify-self: flex-start;
}

.credits_right_div{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  /* padding-left:8%; */
}
.credits_right_top > button{
  align-self: flex-start;
  margin-right:40px;
}

#upgrade_sub_button{
  align-self: flex-start;
  width:120px;
  height:40px;
  border:solid blue;
  border-radius: 15px;
}
#renew_sub_button{
  align-self: flex-start;
  width:120px;
  height:40px;
  border:solid blue;
  border-radius: 15px;

}
#buy_tokens_button{
  align-self: flex-start;
  height:40px;
  width: 120px;
  border: solid blue;
  border-radius: 15px;
}