/* *,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}


@font-face {
  font-family: Nevis-Bond;
  src: url(Nevis-Bold.ttf.woff);
} */

.menu_bar {
  z-index: 5;
  position:relative;
  display: inline-block;
  cursor: pointer;
  margin: 8px;
}

.menu_bar div {
  width: 35px;
  height: 2px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-10px, -2px);
  background-color: white;
}

.change .bar2 {
  background-color: white;
  opacity: 0;
}

.change .bar3 {
  background-color: white;
  transform: rotate(45deg) translate(-13px, -2px);
}

.whole_menu{
  display:none;
}
.whole_menu_visible a{
  font-size:1.4rem;
  color:white;
  height:3vh;
  width:70%;
  margin:2rem 3.3vw 0vw;
  font-family:Nevis-Bond,Arial, Helvetica, sans-serif;
}

#button1{
  margin-top:7rem;
}

.whole_menu_visible{
  user-select: none;
  border-top:0;
  border-right:0;
  border-color:rgba(96, 105, 234, 0.6);
  z-index: 4;
  display:flex;
  flex-direction: column;
  position:absolute;
  background-color:rgba(0, 0, 0, 0.698);
  width:400px;
  height:100vh;
  top:0vh;
  right:0vw;
  align-items: center;
}

body{
  overflow-y:auto;
  overflow-x:hidden;
}

.main_Header_Front{
  width:100%;
  display:flex;
  justify-content: space-between;
  height : 80px;
  align-items: center;
}

.mid_menu_bar{
  display:flex;
  width:100vw;
  position:absolute;
  margin-top:9px;
  justify-content: center;
  align-self: flex-start;


}

.logo_front{
  height:80px;
}

.mid_menu_bar a{
  padding:0px;
  font-family: Nevis-bond,Arial, Helvetica, sans-serif;
  font-size:1.5rem;
  margin:0 17px 0 17px;
}


.front_menu_bar{
  margin-right:0.5vw;
  margin-top:7px;
}

#front_search{
  background-color:white;
  margin-left:auto;
  border:none;
  width:2vw;
  cursor: pointer;
}

#front_signIn{
font-family: Nevis-Bond,Arial, Helvetica, sans-serif;
font-size: 17px;
background-color: white;
border:none;
}

.main_Header_Front > button {
  /* z-index:2; */
 margin-right:25px;
 height:30px;
 width:  70px;
 margin-top: 6px;
 cursor: pointer;
}

#front_search > img {
  height: 100%;
  cursor: pointer;
}

.ai_container_wrapper{
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
}

.ai_container{
  display:grid ;
  grid-template-columns: repeat(4 , 450px);
  grid-auto-rows : 370px;
  scroll-behavior: smooth;
  padding: 20px;
  gap: 20px;
  overflow-x:auto;
  overflow-y:hidden;
}


 .ai_container > div {
  background-color: #ad68f5;
  padding-top: 17px;
}

.ai_container > div >img{
  height:auto;
  width:410px;
  margin-bottom:20px;
}

@property --angle{
  syntax:"<angle>";
  initial-value: 0deg;
  inherits:false;

}


.div_button::after,.div_button::before{
  content:"";
  width:103%;
  height:100%;
  position:absolute;
  padding:5px;
  top:50%;
  left:50%;
  translate: -50% -50%;
  padding:20px;
  border-radius:24px;
  z-index:-1;
}


@keyframes spin {
  from{--angle:0deg}
  to{--angle:360deg}

}

.div_button:hover::after{
  background-image :conic-gradient(from var(--angle), transparent 70%, rgb(255, 255, 255) );
  animation: spin 1s linear infinite;
}

.bottom_section_wrapper{
  display:flex;
  flex-direction:column;
}

.bottom_section_bar{
  display:flex;
  flex-direction: column;
  height:350px;
  /* background-color:grey; */
  background-color:#0A142F;
  align-items: center;
}
.bottom_section_bar>h1{
  font-size:65px;
  font-weight:790;
  margin-top:100px;
  color:white;
  font-family:Nevis-Bond;
}
.bottom_section_bar>div{
  margin-top:60px;
}
.bottom_section_bar>div>button{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width:300px;
  margin-left:40px;
  margin-right:40px;
  height:60px;
  border:solid white;
  border-radius:10px;
  font-size:18px;
}
#bottom_section_button1{
  background-color:#0A142F;
  color:white;
}
#bottom_section_button1:hover{
  background-color:white;
  color:black;
}
#bottom_section_button2:hover{
  background-color:rgb(0, 0, 0);
  color:white
}
.front_bottom_section{
  display:flex;
  justify-content: center;
  align-items: center;
}

.front_bottom_container{
  padding:0 100px;
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.front_bottom_container>h3{
  margin-top:70px;
  font-size:25px;
  color:white;
  margin-bottom:40px;
}

.front_bottom_container > a{
  font-size:18px;
  color:rgb(255, 255, 255);
  margin:7px 0px;
}
.bottom_tag{
  height:1px;
  background-color:#465a909e ;
  margin-top:20px;
  width:900px;
}

.front_bottom_footer{
  width:350px;
  height:1px;
  background-color:#f9f9f9c3;
}

.footer_wrapper{
  display:flex;
  justify-content: center;
  align-self: center;
  background-color:#0A142F ;
}
.footer_body{
  width:1300px;
  background-color: #0A142F;
}


/* Search Bar css */

.search_bar_wrapper_front{
display:flex;
width:100vw;
height:100vh;
flex-direction:column;
z-index:999;
position:fixed;left:0px;
top:0px;
align-items:center;
background-color:rgba(0,0,0,.5);
}

.input_wrapper_front{
 display: flex;
 align-items: center;
 margin-top:4%;
 width:40%;
 height:50px;
 font-size:1.2em;
 background-color: white;
 border-radius: 10px;
}

.input_search_front{
font-size: 1.2em;
width: 90%;
background-color: white;
border:solid white;
border-right:none;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
outline:none;
}
.input_search_front:hover,.input_search_front:active{
border:solid white;
border-right:none;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}

.button_search_front{
  background-color: white;
  padding: 0;
  border:none;
  padding-left:30px;
}

.button_svg_front{
  height:50px;

}
.search_result_wrapper{
  width:100%;
  height:100%;
}
.search_results_front{
  display:none;
  background-color:rgba(0, 0, 0, 0.611);
  width:100vw;
  height: 100%;
}

.no_results_message{
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center ;
  color:black;
  justify-content: center;
  align-items: center;
}
.no_results_message>h1{
  background-color: white;
  border:solid white;
  border-width: 20px;
  border-radius: 10px;
}